@font-face{ 
    font-family: 'Baltica';
    src: url('../fonts/baltica/Baltica_bold.eot'),
    url('../fonts/baltica/Baltica_bold.otf'),
    url('../fonts/baltica/Baltica_bold.woff'),
    url('../fonts/baltica/Baltica_bold.ttf'),
    url('../fonts/baltica/Baltica_bold.svg');
    font-weight: bold;
    font-style: normal;
}

@font-face{ 
    font-family: 'Foco';
    src: url('../fonts/foco/foco_regular/Foco_regular.eot'),
    url('../fonts/foco/foco_regular/Foco_regular.otf'),
    url('../fonts/foco/foco_regular/Foco_regular.woff'),
    url('../fonts/foco/foco_regular/Foco_regular.ttf'),
    url('../fonts/foco/foco_regular/Foco_regular.svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{ 
    font-family: 'Foco';
    src: url('../fonts/foco/foco_bold_italic/foco-bold-italic.eot'),
    url('../fonts/foco/foco_bold_italic/original-foco-bold-italic.ttf'),
    url('../fonts/foco/foco_bold_italic/foco-bold-italic.woff'),
    url('../fonts/foco/foco_bold_italic/foco-bold-italic.woff2'),
    url('../fonts/foco/foco_bold_italic/foco-bold-italic.ttf'),
    url('../fonts/foco/foco_bold_italic/foco-bold-italic.svg');
    font-weight: bold;
    font-style: italic;
}

@font-face{ 
    font-family: 'Foco';
    src: url('../fonts/foco/foco_bold/Foco_bold.eot'),
    url('../fonts/foco/foco_bold/Foco_bold.otf'),
    url('../fonts/foco/foco_bold/Foco_bold.woff'),
    url('../fonts/foco/foco_bold/Foco_bold.ttf'),
    url('../fonts/foco/foco_bold/Foco_bold.svg');
    font-weight: bold;
    font-style: normal;
}

@font-face{ 
    font-family: 'Lato';
    src: url('../fonts/lato/lato_regular/Lato_regular.eot'),
    url('../fonts/lato/lato_regular/Lato_regular.otf'),
    url('../fonts/lato/lato_regular/Lato_regular.woff'),
    url('../fonts/lato/lato_regular/Lato_regular.ttf'),
    url('../fonts/lato/lato_regular/Lato_regular.svg');
    font-weight: normal;
    font-style: normal;
}
/*end fonts*/
/*common styles   */
h1, h2, h3, h4, h5, h6 {  font: normal bold 30px  'Baltica', sans-serif; }

h2 { 
    font-size: 30px;
}

.btn { 
    font: italic bold 16px  'Foco', sans-serif;
    width: 220px;
    padding: 19px 0;
    color: #ffffcc;
    box-shadow: -3px 3px 0 0 #ffffff;
}
@media (max-width: 991px){ 
    #choose-app { 
        margin-top: 10px; 
        font: italic bold 16px  'Foco', sans-serif;
        width: 190px;
        padding: 16px 0;
        text-align: center;
        box-shadow: -3px 3px 0 0 #ffffff;        
        color: #fff;
        background-color: #99cc00;
    }
}
h1 { 
    font-size: 38px;
    background: linear-gradient(45deg, #996600 15%, #999900 45%, #999900);
    /*letter-spacing: 10px;*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


body {  
    font-family: 'Foco', sans-serif; 
    font-size: 16px;
    background-color: #ffffff;
}
/*end common styles*/
/*styles for navbar */
nav {  font-size: 14px }
nav a {  color: #666666; }

nav button {  background: url(../img/menu.png) no-repeat center; }

nav button[aria-expanded="true"] {  
    background: url(../img/menu_close.png) no-repeat center; 
    order: 0;
}
#menu-info { flex-direction: row; }

nav a:hover { 
    color: #333333;
    background-color: #f8f9fa;
}

.dropdown-menu {  border: none; }
/*end of navbar */
/*styles for header*/
header { 
    background: url("../img/mainbackground480.png") no-repeat center /cover;
    padding: 10% 0;
}

header .btn {  background-color: #99cc00; }

header p { 
    background: #d7ebf4;
    margin-bottom: 3px;
    border-spacing: 4px;
}
/*end of header*/
/*styles for about*/
.about { 
    background: url(../img/tree480.png) no-repeat right /contain;
    background-color: #f2f2d4;
    padding: 10% 0;
}

.about h2 { color: #88bb00; }

.full-read { 
    color: #88bb00;
    font-size: 14px;
}

.about .btn {  background: #dc9836; }
/*end of about*/
/*styles for heatures*/
.features {  padding: 10% 0; }

.collage .br { 
    background:  url(../img/collage960_br.png) center no-repeat /cover; 
    height: 245px;
    width: 75%;
}
@media (max-width: 368px){
    .collage .br { width: 70%; }
}

.features .btn { 
    background: #99cc00;
    box-shadow: -5px 5px 0 0  #cccccc;
}

.features .btnarr { 
    color: #ffffcc;
    background: #dc9836;
    padding: 10px;
    box-shadow: -2px 2px 0 0 #cccccc;
    border: none;
}

.tl p, .br p, .bl p {  background: #ffffff; }
/*end of features*/
/*styles for map*/
.map { 
    background: url("../img/map480.png") no-repeat center /cover;
    padding: 10% 5% 30%;
}

.map h2 { 
    color: #6b6b2f;
    background: #dedebf;  
}

.map p { 
    background: #dedebf;
}

.map .btn {  background: #dc9836; }
/*end of map*/
/*styles for footer*/
footer a {  color: #666666; }
footer .row{
    margin-right: 0; 
    margin-left: 0; 
}
#studio {  border-bottom: 1px solid #cc3333; }
/*end of footer*/


@media (min-width: 576px)  { 
    h1 { font-size: 45px; }
    h2 { font-size: 36px; }
    .container { max-width: 920px; }

    header { background-image: url(../img/main-background960.png); }
    
    .collage .tl { 
        background:  url(../img/collage960_tl.png) right no-repeat /75% 100%;  
        height: inherit: ;
        width: 47%;
        min-height: 330px;
    }
    .collage .bl { 
        background:  url(../img/collage960_bl.png) center no-repeat /100% 100%; 
        height: 300px;
        width: 47%;

    }
    .collage .br { 
        background:  url(../img/collage960_br.png) center no-repeat /100% 100%; 
        height: 300px;
        width: 47%; 
    }
    .collage h2 { color: #b3691d; }
    .collage .tr { width: 49%; }

    .map { 
        background-image: url(../img/main_map.png);
        padding: 20% 0 30%;
    }
}

@media (min-width: 578px) and (max-width: 991px) {
    h1 { font-size: 62px}

    .about { background-image: none; }
    .my-tree { background: url(../img/tree960.png) no-repeat center /contain; }
}

@media (min-width: 992px) {
    .container { max-width: 80%; }
    body { font-size: 18px; }
    h1 { font-size: 91px; }
    h2 { font-size: 52px; }
    .btn {  width: 300px; }

    nav { font-size: 16px; }

    header { background-image: url(../img/main_background.png); }
    header .btn { width: 250px; }
    header .btn:hover { background-color: #559900; }
    
    .about { background-image: none; }
    .about .btn:hover { background: #ba7614; }

    .my-tree { 
        background: url(../img/tree.png) no-repeat center /contain; ;
        height: 630px;
    }
    
    .features .btn:hover { background-color: #559900; }
    .collage .tl {
        background-image: url(../img/collage_tl.png);
        background-size: 80% 100%;
    }
    .collage .bl { background-image: url(../img/collage_bl.png); }
    .collage .br { background-image: url(../img/collage_br.png); }

    .map { padding: 8% 0 24%  }
    .map .btn:hover { background: #ba7614; }

}    


@media (min-width: 1300px) {
    .collage .tr { width: 34%; }
    .collage .tl {
        background: url(../img/collage_tl.png) right no-repeat /60% 100%; 
        height: 420px;
    }
    .collage .br, .collage .bl { height: 420px; }
}